// SIMPLEX GRID

$grid-border-color: #ccc;

// limited max width
$limit-max-width: 1200px;

// limits
$limit-tiny: 800px;
$limit-small: 1000px;
$limit-medium: 1200px;
$limit-large: 1400px;
$limit-huge: 1600px;

// resize
$tablet-width: 850px;
$mobile-width: 600px;

// padding
$padding-tiny: 2rem;
$padding-small: 4rem;
$padding-medium: 6rem;
$padding-large: 8rem;
$padding-huge: 10rem;

// column padding
$column-padding-tiny: 1rem;
$column-padding-small: 2rem;
$column-padding-medium: 3rem;
$column-padding-large: 4rem;
$column-padding-huge: 5rem;

// START TEST AREA
.flex-filler {
    flex-grow: 1;
}

.test {
    height: 30px;
    background-color: #aaa;
}
// END TEST AREA

.sx {
    &.grid {
        width: 100%;
        max-width: $limit-max-width;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;

        // Default resize
        @media screen and (max-width: $tablet-width) {
            .column {
                width: 100% !important;
            }
        }

        // STYLES
        &[sx-bordered="true"] {
            border-top: 1px solid $grid-border-color;
            border-left: 1px solid $grid-border-color;

            & > .column {
                border-right: 1px solid $grid-border-color;
                border-bottom: 1px solid $grid-border-color;
            }
        }

        // LIMITED - sets up for a page view on large monitors, rather than the whole browser window
        &[sx-limited="true"] {
            max-width: $limit-max-width;
        }
        &[sx-limited="false"] {
            max-width: none;
        }

        &[sx-limit="tiny"] {
            max-width: $limit-tiny;
        }
        &[sx-limit="small"] {
            max-width: $limit-small;
        }
        &[sx-limit="medium"] {
            max-width: $limit-medium;
        }
        &[sx-limit="large"] {
            max-width: $limit-large;
        }
        &[sx-limit="huge"] {
            max-width: $limit-huge;
        }

        // PADDING
        &[sx-padless="true"] {
            padding: 0;

            & > .column {
                padding: 0;
            }

            & > .row {
                padding: 0;
            }
        }

        // vertical
        &[sx-v-padding="none"] {
            padding-top: 0;
            padding-bottom: 0;
        }
        &[sx-v-padding="tiny"] {
            padding-top: $padding-tiny;
            padding-bottom: $padding-tiny;
        }
        &[sx-v-padding="small"] {
            padding-top: $padding-small;
            padding-bottom: $padding-small;
        }
        &[sx-v-padding="medium"] {
            padding-top: $padding-medium;
            padding-bottom: $padding-medium;
        }
        &[sx-v-padding="large"] {
            padding-top: $padding-large;
            padding-bottom: $padding-large;
        }
        &[sx-v-padding="huge"] {
            padding-top: $padding-huge;
            padding-bottom: $padding-huge;
        }

        // horizontal
        &[sx-h-padding="tiny"] {
            padding-top: $padding-tiny;
            padding-bottom: $padding-tiny;
        }
        &[sx-h-padding="small"] {
            padding-top: $padding-small;
            padding-bottom: $padding-small;
        }
        &[sx-h-padding="medium"] {
            padding-top: $padding-medium;
            padding-bottom: $padding-medium;
        }
        &[sx-h-padding="large"] {
            padding-top: $padding-large;
            padding-bottom: $padding-large;
        }
        &[sx-h-padding="huge"] {
            padding-top: $padding-huge;
            padding-bottom: $padding-huge;
        }

        // vertical + horizontal
        &[sx-padding="tiny"] {
            padding: $padding-tiny;
        }
        &[sx-padding="small"] {
            padding: $padding-tiny;
        }
        &[sx-padding="medium"] {
            padding: $padding-medium;
        }
        &[sx-padding="large"] {
            padding: $padding-large;
        }
        &[sx-padding="huge"] {
            padding: $padding-huge;
        }

        // pushing
        &[sx-push="center"] {
            justify-content: center;
        }
        
        // ALIGN - align all columns in grid
        &[sx-align="center"] {
            > .column {
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }
        &[sx-align="top"] {
            > .column {
                text-align: center;
                align-items: center;
                justify-content: flex-start;
            }
        }
        

        // RESIZE
        &[sx-resize-mode="stack"] {
            @media screen and (max-width: $tablet-width) {
                .column {
                    width: 100% !important;
                }
            }
        }

        //--------------------------------
        // ROWS
        //--------------------------------
        .row {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            max-width: 100%;
            height: 100%;

            //-------------
            // STYLES
            //-------------
            &[sx-bordered="true"] {
                border-top: 1px solid $grid-border-color;
                border-left: 1px solid $grid-border-color;

                & > .column {
                    border-right: 1px solid $grid-border-color;
                    border-bottom: 1px solid $grid-border-color;
                }
            }

            // PUSHED
            &[sx-push="center"] {
                justify-content: center;
            }
            &[sx-push="right"] {
                justify-content: flex-end;
            }

            //-------------
            // PADDING
            //-------------
            &[sx-bottom-padding="tiny"] {
                padding-bottom: $padding-tiny
            }
            &[sx-bottom-padding="small"] {
                padding-bottom: $padding-small;
            }
            &[sx-bottom-padding="medium"] {
                padding-bottom: $padding-medium;
            }
            &[sx-bottom-padding="large"] {
                padding-bottom: $padding-large;
            }
            &[sx-bottom-padding="huge"] {
                padding-bottom: $padding-huge;
            }

            // vertical
            &[sx-v-padding="tiny"] {
                padding-top: $padding-tiny;
                padding-bottom: $padding-tiny;
            }
            &[sx-v-padding="small"] {
                padding-top: $padding-small;
                padding-bottom: $padding-small;
            }
            &[sx-v-padding="medium"] {
                padding-top: $padding-medium;
                padding-bottom: $padding-medium;
            }
            &[sx-v-padding="large"] {
                padding-top: $padding-large;
                padding-bottom: $padding-large;
            }
            &[sx-v-padding="huge"] {
                padding-top: $padding-huge;
                padding-bottom: $padding-huge;
            }

            // horizontal
            &[sx-h-padding="tiny"] {
                padding-left: $padding-tiny;
                padding-right: $padding-tiny;
            }
            &[sx-h-padding="small"] {
                padding-left: $padding-small;
                padding-right: $padding-small;
            }
            &[sx-h-padding="medium"] {
                padding-left: $padding-medium;
                padding-right: $padding-medium;
            }
            &[sx-h-padding="large"] {
                > .column {
                    padding-left: $padding-large;
                    padding-right: $padding-large;
                }
            }
            &[sx-h-padding="huge"] {
                padding-left: $padding-huge;
                padding-right: $padding-huge;
            }


            //-------------
            // COLUMNS
            //-------------
            &[sx-columns="2"] {
                & > .column {
                    width: percentage(1/2);
                }
            }
            &[sx-columns="3"] {
                & > .column {
                    width: percentage(1/3);
                }
            }
            &[sx-columns="4"] {
                & > .column {
                    width: percentage(1/4);
                }
            }
            &[sx-columns="5"] {
                & > .column {
                    width: percentage(1/5);
                }
            }

            //-------------
            // ALIGN
            //-------------
            &[sx-align="top-left"] {
                & > .column {
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                }
            }
            &[sx-align="top"] {
                & > .column {
                    align-items: center;
                    justify-content: flex-start;
                    text-align: center;
                }
            }
            &[sx-align="top-right"] {
                & > .column {
                    align-items: flex-end;
                    justify-content: flex-start;
                    text-align: right;
                }
            }
            &[sx-align="left"] {
                & > .column {
                    align-items: flex-start;
                    justify-content: center;
                    text-align: left;
                }
            }
            &[sx-align="center"] {
                & > .column {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
            &[sx-align="right"] {
                & > .column {
                    align-items: flex-end;
                    justify-content: center;
                    text-align: right;
                }
            }
            &[sx-align="bottom-left"] {
                & > .column {
                    align-items: flex-start;
                    justify-content: flex-end;
                    text-align: left;
                }
            }
            &[sx-align="bottom"] {
                & > .column {
                    align-items: center;
                    justify-content: flex-end;
                    text-align: center;
                }
            }
            &[sx-align="bottom-right"] {
                & > .column {
                    align-items: flex-end;
                    justify-content: flex-end;
                    text-align: right;
                }
            }

            //-------------
            // RESIZE
            //-------------

            // Modes
            &[sx-resize-mode="stack"] {
                @media screen and (max-width: $tablet-width) {
                    .column {
                        width: 100%;
                    }
                } 
            }

            &[sx-resize-mode="double"] {
                
                @media screen and (max-width: $tablet-width) {
                    &[sx-columns="3"] {
                        & > .column {
                            width: 50%;
                        }
                    }
                    &[sx-columns="4"] {
                        & > .column {
                            width: 50%;
                        }
                    }
                    &[sx-columns="5"] {
                        & > .column {
                            width: 50%;
                        }
                    }
                }

                @media screen and (max-width: $mobile-width) {
                    &[sx-columns="3"] {
                        & > .column {
                            width: 100%;
                        }
                    }
                    &[sx-columns="4"] {
                        & > .column {
                            width: 100%;
                        }
                    }
                    &[sx-columns="5"] {
                        & > .column {
                            width: 100%;
                        }
                    }
                }
            }
        }

        //--------------------------------
        // COLUMNS
        //--------------------------------
        .column {
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
            padding: $column-padding-tiny;
            position: relative;

            // default align - top left
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;

            // used for internet explorer I think... forgot
            & > * {
                max-width: 100%;
                min-height: 2px;
            }

            & > *:last-child {
                margin-bottom: 0;
            }

            // Make Item take up as much space as possible, uesful for pushing other elements up/down to top/bottom of column
            & *[sx-flexed="true"] {
                flex-grow: 1;
            }

            //-------------
            // COLORS
            //-------------
            &[sx-color="black"] {
                background-color: $black;
                color: $white;
            }

            //-------------
            // WIDTH
            //-------------

            // half
            &[sx-width="1/2"] {
                width: percentage(1/2);
            }
            // thirds
            &[sx-width="1/3"] {
                width: percentage(1/3);
            }
            &[sx-width="2/3"] {
                width: percentage(2/3);
            }
            // fourths
            &[sx-width="1/4"] {
                width: percentage(1/4);
            }
            &[sx-width="2/4"] {
                width: percentage(2/4);
            }
            &[sx-width="3/4"] {
                width: percentage(3/4);
            }
            // fifths
            &[sx-width="1/5"] {
                width: percentage(1/5);
            }
            &[sx-width="2/5"] {
                width: percentage(2/5);
            }
            &[sx-width="3/5"] {
                width: percentage(3/5);
            }
            &[sx-width="4/5"] {
                width: percentage(4/5);
            }

            //-------------
            // ALIGN
            //-------------

            // Text
            &[sx-align="top-left"] {
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }
            &[sx-align="top"] {
                align-items: center;
                justify-content: flex-start;
                text-align: center;
            }
            &[sx-align="top-right"] {
                align-items: flex-end;
                justify-content: flex-start;
                text-align: right;
            }
            &[sx-align="left"] {
                align-items: flex-start;
                justify-content: center;
                text-align: left;
            }
            &[sx-align="center"] {
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            &[sx-align="right"] {
                align-items: flex-end;
                justify-content: center;
                text-align: right;
            }
            &[sx-align="bottom-left"] {
                align-items: flex-start;
                justify-content: flex-end;
                text-align: left;
            }
            &[sx-align="bottom"] {
                align-items: center;
                justify-content: flex-end;
                text-align: center;
            }
            &[sx-align="bottom-right"] {
                align-items: flex-end;
                justify-content: flex-end;
                text-align: right;
            }

            //-------------
            // paddingS
            //-------------

            // both dimensions
            &[sx-padding="none"] {
                padding: 0;
            }
            &[sx-padding="tiny"] {
                padding: $padding-tiny;
            }
            &[sx-padding="small"] {
                padding: $padding-small;
            }
            &[sx-padding="medium"] {
                padding: $padding-medium;
            }
            &[sx-padding="large"] {
                padding: $padding-large;
            }
            &[sx-padding="huge"] {
                padding: $padding-huge;
            }

            // horizontal
            &[sx-h-padding="tiny"] {
                padding-left: $padding-tiny;
                padding-right: $padding-tiny;
            }
            &[sx-h-padding="small"] {
                padding-left: $padding-small;
                padding-right: $padding-small;
            }
            &[sx-h-padding="medium"] {
                padding-left: $padding-medium;
                padding-right: $padding-medium;
            }
            &[sx-h-padding="large"] {
                padding-left: $padding-large;
                padding-right: $padding-large;
            }
            &[sx-h-padding="huge"] {
                padding-left: $padding-huge;
                padding-right: $padding-huge;
            }

            // vertical
            &[sx-v-padding="none"] {
                padding-top: 0;
                padding-bottom: 0;
            }
            &[sx-v-padding="tiny"] {
                padding-top: $padding-tiny;
                padding-bottom: $padding-tiny;
            }
            &[sx-v-padding="small"] {
                padding-top: $padding-small;
                padding-bottom: $padding-small;
            }
            &[sx-v-padding="medium"] {
                padding-top: $padding-medium;
                padding-bottom: $padding-medium;
            }
            &[sx-v-padding="large"] {
                padding-top: $padding-large;
                padding-bottom: $padding-large;
            }
            &[sx-v-padding="huge"] {
                padding-top: $padding-huge;
                padding-bottom: $padding-huge;
            }

            //-------------
            // COLORS
            //-------------

            // theme colors
            &[sx-color="#{$theme-color-1-name}"] {
                background-color: $theme-color-1;
                color: $theme-color-1-text;
            }
            &[sx-color="#{$theme-color-2-name}"] {
                background-color: $theme-color-2;
                color: $theme-color-2-text;
            }
            &[sx-color="#{$theme-color-3-name}"] {
                background-color: $theme-color-3;
                color: $theme-color-3-text;
            }
            &[sx-color="#{$theme-color-4-name}"] {
                background-color: $theme-color-4;
                color: $theme-color-4-text;
            }
            &[sx-color="#{$theme-color-5-name}"] {
                background-color: $theme-color-5;
                color: $theme-color-5-text;
            }

            //-------------
            // RESIZE
            //-------------
        }
    }
}
