// COLORS

// theme
$theme1: #f15d2f;
$theme2: #ffba38;
$theme3: #282f39;
$theme4: #f7f1e3;
$theme5: #2291bf;

// greyscale
$white: #fff;
$black: #000;
$gray: #999;
$light-gray: #f1f1f1;
$dark-gray: #333;

// Margins
$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$margin-huge: 40px;

*[sx-margin="tiny"] {
    margin-bottom: $margin-tiny;
}
*[sx-margin="small"] {
    margin-bottom: $margin-small;
}
*[sx-margin="medium"] {
    margin-bottom: $margin-medium;
}
*[sx-margin="large"] {
    margin-bottom: $margin-large;
}
*[sx-margin="huge"] {
    margin-bottom: $margin-huge;
}